$Background-colour-green:#9be3de;
$Background-colour-green-2: #beebe9;
$Background-colour-green-3:#1eae98;
$Background-color--white:#fffdf9;
$Background-color--black:#1b2430;
$Main-font:'Josefin+Sans','Roboto','EB+Garamond', sans-serif;



.skill-section{
    background-color:#f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-family: $Main-font;
    height: 100vh;

    &--stack{
        font-size: 2rem ;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 2rem;
        color: $Background-colour-green-3;
        

    }
    &__mystack{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-color:$Background-colour-green-3;
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    &__icon{
        font-size: 2.5rem;
        color:#fff;
        font-weight: 800;
        
       
       
       &--text{
        color: $Background-colour-green-3;
        font-weight: 800;
        font-size: 1rem;
        
       }
    }

}
.stack_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20rem;
    grid-row-gap: 2rem;
}
.skill-section--icon__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//MEDIA QUERY SECTION

@media (max-width:900px){
    .skill-section{
        padding: 6rem 0;
        max-height: 100vh;
       
       &--stack{
        padding-bottom: 3rem ;}
       &__mystack{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }
    &__icon{
        font-size: 1.5rem;
        color:#fff;
        font-weight: 800;
        
    }
       
    }
    .stack_section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10rem;
        grid-row-gap: 2rem;
    }

}
@media (max-width:600px){
    .skill-section{
      width: 100%;
      
      max-height: 100vh;

       &__mystack{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
   

    &__icon{
        font-size: 1.2rem;
        color:#fff;
        font-weight: 800;
        
        &--text{
            font-size: .8rem;
        }
    }
       
    }
    .stack_section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5rem;
        grid-row-gap: 2rem;
    }

}