$Background-colour-green:#9be3de;
$Background-colour-green-2: #beebe9;
$Background-colour-green-3:#1eae98;
$Background-color--white:#fffdf9;
$Background-color--black:#1b2430;
$color-grey: #d3d3d3;
$Main-font:'Josefin Sans','Roboto','EB+Garamond', sans-serif;


.project-section{
 

    padding: 4rem;
    &__profile{
        width: 25%;
        box-shadow:5px 7px 4px $color-grey;
        
        border-radius: 10px;
     
    }
    &-info{
        margin: 1rem ;
        margin-bottom: 2rem;
        font-size: 1rem;
        color: $Background-colour-green-3;
    }
    &__links{

       &--icon-sec{
            display: flex;
            align-items: center;
            background-color: $Background-colour-green-3;
            padding: .3rem 1rem;
            border-radius: 30px;
            color: $Background-color--white;
            margin-bottom: .6rem;
            
        }
        &-icon{
           // color: $Background-color--white;
            font-size: 1.5rem;
         
        }

    }
    &--social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}
.project-links{
    display: none;
    //position: absolute;
     width:28.5% ;
     //background-color:red;
     top: 0;
    left: 0%;
    font-family: $Main-font;
    padding: .7rem;
  
    box-shadow:5px 7px 4px $color-grey;
    border-radius: 10px;

    background-color: hsla(0,0%,100%,.3);
    backdrop-filter: blur(10px);
    // transition: .3s;
   

}
.project-section__profile:hover + .project-links,
.project-section__profile:focus + .project-links{
   display: block;
    animation: move-up ;
    animation-duration: 3s;
    //transform: translateY(-95%);
    // transition: all .3s linear;
    // transform: translateX(101%);

 
   
   
}
.image-container{
    position: relative;
    overflow: hidden;
   

}
// //visibility: visible;
// //opacity: 0;
// transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2, 9, 1);
// transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
   
@keyframes move-up{
    0% {  
        transform: translateY(0);
        
   
    }
   
    50%{
        // transform: scale(1.05);
        // box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
        //transform: translateY(-150%);
   
    }
   
    100%{
        transform: translateY(-100%);
       
    
   
   
    }
   
   }
  
       
        


