$Background-color--1:#730eb9;
$Background-color--2:#2c0547 ;
$Color-secondary:#988aa0;

//FONTS
$Main-font:'Josefin Sans','Roboto','EB+Garamond', sans-serif;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    
}
//  html{
  
   
// //     font-size: 62.5%;

// }

body {
  font-family: $Main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 font-weight: 300;
 line-height: 1.6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}
// MEDIA QUERY SECTION
@media (max-width:900px){
  body{
    font-size: 50%;
  }

}
@media (max-width:600px){
  body{
    font-size: 40%;
  overflow-x: hidden;
  }

}
@media (max-width:390px){
  body{
    font-size: 35%;
  overflow-x: hidden;
  width: 100%;
  
  }

}